extends layoutAdmin.pug

block content
    div.container-fluid
      div.quizCreateHeader
        h2.display-4.m-b-2 User List
        div.row
            div.col.mx-1
                table.table.table-hover.tablesorter#userTable
                    thead
                        tr
                            th(scope="col") #
                              i.glyphicon.glyphicon-chevron-down
                            th(scope="col") Name
                              i.glyphicon.glyphicon-chevron-down
                            th(scope="col") Onyen
                              i.glyphicon.glyphicon-chevron-down
                            th(scope="col") PID
                              i.glyphicon.glyphicon-chevron-down
                            th(scope="col") Group
                              i.glyphicon.glyphicon-chevron-down
                            th(scope="col") Section
                            th(scope="col") Change Section
                            th(scope="col") Closed Quizes
                            th(scope="col") Open Quizes
                    tbody
                        each val, index in users
                            tr
                                th(scope="row")=(index+1)
                                td=val.first_name + " " + val.last_name
                                td=val.onyen
                                td(id="pid")=val.pid
                                td=val.type
                                td(id="secName")=val.name
                                td
                                    div.dropdown
                                        button(type="button" data-toggle="dropdown").btn.btn-primary.dropdown-toggle Change Section
                                        div.dropdown-menu(id=val.pid)
                                            each val, index in sections
                                                a(href="#" class="sec" id=val.id).dropdown-item=val.name
                                            script(type='text/javascript').
                                                $(".sec").unbind().click(function() {
                                                    console.log("section clicked");
                                                    let dat = {
                                                        pid: $(this).parent().attr("id"),
                                                        section: $(this).attr("id")
                                                    }
                                                    let setVal = $(this).text();
                                                    let changeVal = $(this).parent().parent().parent().siblings("#secName");
                                                    console.log(dat);
                                                    console.log(changeVal);
                                                    $.post("/admin/updateSec", dat).done(function(val) {
                                                        console.log("Posting done.");
                                                        changeVal.html(setVal);
                                                        $("#userTable").trigger("updateCell",[changeVal[0], true, () => {
                                                            console.log("updated cell.");
                                                        }]);
                                                    });
                                                })
                                - let quiz_arr = val.closed_quiz
                                td
                                    div.dropdown
                                        button(type="button" data-toggle="dropdown").btn.btn-danger.dropdown-toggle Closed Quizes
                                        div.dropdown-menu.open_quiz_but
                                            if quiz_arr.length >= 1
                                                each val, index in quiz_arr
                                                    a(href="#" class="openquiz" id=val.quiz_id).dropdown-item=val.quiz_name
                                            else
                                                a(href="#").dropdown-item No Closed Quizes
                                - quiz_arr = val.open_quiz
                                td
                                    div.dropdown
                                        button(type="button" data-toggle="dropdown").btn.btn-success.dropdown-toggle Open Quizes
                                        div.dropdown-menu.close_quiz_but
                                            if quiz_arr.length >= 1
                                                each val, index in quiz_arr
                                                    a(href="#" class="closequiz" id=val.quiz_id).dropdown-item=val.quiz_name
                                            else
                                                a(href="#").dropdown-item No Open Quizes

            script(type='text/javascript').
                $(document).ready(function() {
                    $("#userTable").tablesorter( {sortList: [[0,0], [1,0]]} );
                    $(document).on("click", ".openquiz", function() {
                        console.log("Open quiz", $(this).attr("id"));
                        let el = $(this);
                        console.log($(this).parent().parent().parent().siblings("#pid").html());
                        $.post("/admin/openquiz", {
                            user: $(this).parent().parent().parent().siblings("#pid").html(),
                            quiz_id: $(this).attr("id")
                        }).done(function() {
                            console.log("Success Open");
                            el.removeClass("openquiz");
                            el.addClass("closequiz");
                            el.prependTo(".close_quiz_but");
                        });
                    })
                    $(document).on("click", ".closequiz", function() {
                        console.log("Close quiz", $(this).attr("id"));
                        let el = $(this);
                        $.post("/admin/closequiz", {
                            user: $(this).parent().parent().parent().siblings("#pid").html(),
                            quiz_id: $(this).attr("id")
                        }).done(function() {
                            console.log("Success Close");
                            el.removeClass("closequiz");
                            el.addClass("openquiz");
                            el.prependTo(".open_quiz_but");
                        });
                    })
                });
