extends layoutAdmin.pug

block content
    div.container-fluid
        div.quizCreateHeader
          h2.display-4.m-b-2 Section List
        div.row
            div.col.mx-1
                div#accordion
                    each val, index in sections
                        div.card
                            div(class="secHeader" id=val.id).card_header
                                h5.mb-0.sec-accordion
                                    button(data-toggle="collapse" data-target="#sec"+val.id aria-expanded="false" aria-controls="sec"+val.id).btn.btn-link=val.ta_name
                                    div.dropdown.inline-dropdown
                                        button(type="button" data-toggle="dropdown").btn.btn-success.dropdown-toggle Open Quizzes
                                        div.dropdown-menu
                                            h6.dropdown-header Click to Close Quiz
                                            each val, index in quizes
                                                a(href="#" class="closequiz" id=val.quiz_id).dropdown-item=val.quiz_name
                                    div.dropdown.inline-dropdown
                                        button(type="button" data-toggle="dropdown").btn.btn-danger.dropdown-toggle Closed Quizzes
                                        div.dropdown-menu
                                            h6.dropdown-header Click to Open Quiz
                                            each val, index in quizes
                                                a(href="#" class="openquiz" id=val.quiz_id).dropdown-item=val.quiz_name
                            div(id="sec"+val.id aria-labelledby="sec"+val.id).collapse
                                div.card-body
                                    table.table.table-hover
                                        thead
                                            tr
                                                th(scope="col") #
                                                th(scope="col") Name
                                                th(scope="col")
                                        tbody
                                            each val2, index2 in val.students
                                                tr(id=val2.pid)
                                                    th(scope="row")=(index2+1)
                                                    td=val2.name
                                                    td
                                                        div(class="dropdown")
                                                            button(type="button" data-toggle="dropdown").btn.btn-primary.dropdown-toggle Change Section
                                                            div(id=val2.pid).dropdown-menu
                                                                each val3 in sections
                                                                    a(href="#" class="sec" id=val3.id).dropdown-item=val3.section_name
                                                            script(type='text/javascript').
                                                                $(".sec").unbind().click(function() {
                                                                    console.log("section clicked");
                                                                    let dat = {
                                                                        pid: $(this).parent().attr("id"),
                                                                        section: $(this).attr("id")
                                                                    }
                                                                    let el = $(this).parent().parent().parent().parent();
                                                                    let elAppend = $("#sec" + dat.section + " tbody");
                                                                    console.log(elAppend);
                                                                    console.log(dat);
                                                                    $.post("/admin/updateSec", dat).done(function(val) {
                                                                        console.log("Posting done.");
                                                                        el.appendTo(elAppend);
                                                                    });
                                                                })

        br
        br
        .container
            form#submitSecForm
                h2 CSV Upload
                input(name="csv" id="secUpload" type="file")
                button(type="button" id="submitCsv").btn.btn-success Upload Section
            span.status
        br
    script(type='text/javascript').
        $(document).ready(function() {
            $('#submitCsv').on("click",function() {
                console.log("CLikced import");
                console.log();
                let formData = new FormData();
                formData.append("csv",document.getElementById("secUpload").files[0]);
                $.ajax({
                    url: '/admin/csv',
                    data: formData,
                    type: 'POST',
                    contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                    processData: false, // NEEDED, DON'T OMIT THIS
                // ... Other options like success and etc
                });
            })
            $(document).on("click", ".openquiz", function() {
                console.log("Open quiz", $(this).attr("id"));
                let el = $(this);
                let secid = $(this).parent().parent().parent().parent().attr("id");
                console.log(secid);
                console.log($("#sec" + secid + " tr").map(function() {
                    return $(this).attr("id");
                }).get());
                $.post("/admin/openquiz", {
                    user: $("#sec" + secid + " tr").map(function() {
                        return $(this).attr("id");
                    }).get(),
                    quiz_id: $(this).attr("id")
                }).done(function() {
                    console.log("Success Open");
                });
            })
            $(document).on("click", ".closequiz", function() {
                console.log("Open quiz", $(this).attr("id"));
                let el = $(this);
                let secid = $(this).parent().parent().parent().parent().attr("id");
                console.log(secid);
                console.log($("#sec" + secid + " tr").map(function() {
                    return $(this).attr("id");
                }).get());
                $.post("/admin/closequiz", {
                    user: $("#sec" + secid + " tr").map(function() {
                        return $(this).attr("id");
                    }).get(),
                    quiz_id: $(this).attr("id")
                }).done(function() {
                    console.log("Success Close");
                });
            })
        });
