extends layoutAdmin.pug

block content
    div(tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true").modal.fade#editmodal
        div(role="document").modal-dialog
            div.modal-content
                div.modal-header
                    h5.modal-title#exampleModalLabel Add user
                    button(type="button" class="closebut" data-dismiss="modal" aria-label="Close").close
                        span(aria-hidden="true") &times;
                div.modal-body
                    form.manuallyAddingUser.form-group
                        label(for="PID") PID
                        input(name="PID" class="form-control" id="PID" type="text" placeholder ="PID")
                        label(for="onyen") Onyen
                        input(name="onyen" class="form-control" id="onyen" type="text" placeholder ="Onyen")
                        label(for="firstName") First Name
                        input(name="First Name" class="form-control" id="firstName" type="text" placeholder ="First Name")
                        label(for="lastName") Last Name
                        input(name="Last Name" class="form-control" id="lastName" type="text" placeholder ="Last Name")
                        label(for="typeOfUser") User Group
                        select(class="form-control" id = "typeOfUser").typeOfUser
                          option(value = "3") Student
                          option(value = "2") TA
                        label(for="sectionSelection") Section
                        select(class="form-control" id = "sectionSelection").secSelec
                          each val, index in sections
                            option(value = val.id)= val.name
                        br
                    span.status
                div.modal-footer
                    button(type="button" class="closebut" data-dismiss="modal").btn.btn-secondary Cancel
                    button(type="button" id="addUser" class = "addUserButton").btn.btn-success Add User
    div.container-fluid
        div.quizCreateHeader
            h1.header-spacer.m-b-2 User List
            nav.navbar.navbar-light.bg-light.admin-navbar
                form.form-inline
                    button(type="button" class="addUsersButton").btn.btn-success.button-left Add user
                    button(type="button" class="deleteUsersButton").btn.btn-danger.button-left Delete Selected Users
            div.row
                div.col.mx-1
                  form.deletingUser
                      table.table.table-hover.tablesorter#userTable
                          thead
                              tr
                                  th(scope="col") #
                                  th(scope="col") Name
                                    span(class="fa fa-sort")
                                  th(scope="col") Onyen
                                    span(class="fa fa-sort")
                                  th(scope="col") PID
                                    span(class="fa fa-sort")
                                  th(scope="col") Group
                                    span(class="fa fa-sort")
                                  th(scope="col") Section
                                    span(class="fa fa-sort")
                                  th(scope="col") Change Section
                                  th(scope="col") Closed Quizzes
                                  th(scope="col") Open Quizzes

                          tbody
                              each val, index in users
                                  tr
                                      th(scope="row").align-middle
                                        input(type="checkbox" id=val.pid class="userSelection")
                                        label(class="form-check-label" style="margin-left: 1em;" for=val.quiz_id)=(index+1)
                                      td.align-middle=val.first_name + " " + val.last_name
                                      td.align-middle=val.onyen
                                      td(id="pid").align-middle=val.pid
                                      td.align-middle=val.type
                                      td(id="secName").align-middle=val.name
                                      td.align-middle
                                          div.dropdown
                                              button(type="button" data-toggle="dropdown").btn.btn-primary.dropdown-toggle Change Section
                                              div.dropdown-menu(id=val.pid)
                                                  h6.dropdown-header Click to Change Section
                                                  each val, index in sections
                                                      a(href="#" class="sec" id=val.id).dropdown-item=val.name
                                                  script(type='text/javascript').
                                                      $(".sec").unbind().click(function() {
                                                          console.log("section clicked");
                                                          let dat = {
                                                              pid: $(this).parent().attr("id"),
                                                              section: $(this).attr("id")
                                                          }
                                                          let setVal = $(this).text();
                                                          let changeVal = $(this).parent().parent().parent().siblings("#secName");
                                                          console.log(dat);
                                                          console.log(changeVal);
                                                          $.post("/admin/updateSec", dat).done(function(val) {
                                                              console.log("Posting done.");
                                                              changeVal.html(setVal);
                                                              $("#userTable").trigger("updateCell",[changeVal[0], true, () => {
                                                                  console.log("updated cell.");
                                                              }]);
                                                          });
                                                      })
                                      - let quiz_arr = val.closed_quiz
                                      td.align-middle
                                          div.dropdown
                                              button(type="button" data-toggle="dropdown").btn.btn-danger.dropdown-toggle Closed Quizzes
                                              div.dropdown-menu.open_quiz_but
                                                  h6.dropdown-header Click to Open Quiz
                                                  if quiz_arr.length >= 1
                                                      each val, index in quiz_arr
                                                          a(href="#" class="openquiz" id=val.quiz_id).dropdown-item=val.quiz_name
                                                  else
                                                      a(href="#").dropdown-item No Closed Quizzes
                                      - quiz_arr = val.open_quiz
                                      td.align-middle
                                          div.dropdown
                                              button(type="button" data-toggle="dropdown").btn.btn-success.dropdown-toggle Open Quizzes
                                              div.dropdown-menu.close_quiz_but
                                                  h6.dropdown-header Click to Close Quiz
                                                  if quiz_arr.length >= 1
                                                      each val, index in quiz_arr
                                                          a(href="#" class="closequiz" id=val.quiz_id).dropdown-item=val.quiz_name
                                                  else
                                                      a(href="#").dropdown-item No Open Quizzes
            script(type='text/javascript').
                $(document).ready(function() {
                    $(".addUsersButton").click(function() {
                        $("#editmodal").modal('show');
                    })

                    $(".typeOfUser").change(function() {
                        console.log($(".typeofUser").val());
                        if($(".typeOfUser").val() == 2) {
                            $(".secSelec").prop("disabled", true);
                        } else {
                            $(".secSelec").prop("disabled", false);
                        }
                    })
                  let checkedUsers = [];
                  $(".deleteUsersButton").click(function(){
                        console.log("clicked");
                      $(".userSelection:checked").each(function(index, el) {
                        //console.log($(el).attr("id"));
                        checkedUsers.push($(el).attr("id"));
                        });
                        console.log(checkedUsers);
                        $.post("/admin/deleteUser", {
                        checkedUsers : checkedUsers
                        }).done(function() {
                            //location.reload(true);
                        });
                    });
                  let userInfo = [];
                  $(".addUserButton").click(function(){
                    userInfo[0] = $("#PID").val();
                    userInfo[1] = $("#onyen").val();
                    userInfo[2] = $("#firstName").val();
                    userInfo[3] = $("#lastName").val();
                    userInfo[4] = $("#typeOfUser").val();
                    sectionID = $("#sectionSelection").val();
                    console.log("added user");

                    $.post("/admin/addUser", {
                    newUser : userInfo,
                    sectionID : sectionID
                    }).done(function() {
                       location.reload();
                    });

                  });

                    $("#userTable").tablesorter( {sortList: [[0,0], [1,0]]} );
                    $(document).on("click", ".openquiz", function() {
                        console.log("Open quiz", $(this).attr("id"));
                        let el = $(this);
                        console.log($(this).parent().parent().parent().siblings("#pid").html());
                        $.post("/admin/openquiz", {
                            user: $(this).parent().parent().parent().siblings("#pid").html(),
                            quiz_id: $(this).attr("id")
                        }).done(function() {
                            console.log("Success Open");
                            el.removeClass("openquiz");
                            el.addClass("closequiz");
                            el.appendTo(".close_quiz_but");
                        });
                    })
                    $(document).on("click", ".closequiz", function() {
                        console.log("Close quiz", $(this).attr("id"));
                        let el = $(this);
                        $.post("/admin/closequiz", {
                            user: $(this).parent().parent().parent().siblings("#pid").html(),
                            quiz_id: $(this).attr("id")
                        }).done(function() {
                            console.log("Success Close");
                            el.removeClass("closequiz");
                            el.addClass("openquiz");
                            el.appendTo(".open_quiz_but");
                        });
                    })
                });
