extends layoutAdmin.pug

block content
    div(tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true").modal.fade#editmodal
        div(role="document").modal-dialog
            div.modal-content
                div.modal-header
                    h5.modal-title#exampleModalLabel Add Section
                    button(type="button" class="closebut" data-dismiss="modal" aria-label="Close").close
                        span(aria-hidden="true") &times;
                div.modal-body
                    form.manuallyAddingUser.form-group
                        label(for="TA") TA Assignment
                        select(name="TA" class="form-control" id="TA" type="text" placeholder ="TA")
                        label(for="csv") Upload Class Roster (CSV)
                        input(name="secUpload" class="form-control-file" id="secUpload" type="file" accept=".csv")
                        span.status
                div.modal-footer
                    button(type="button" class="closebut" data-dismiss="modal").btn.btn-secondary Cancel
                    button(type="button" id="submitCsv").btn.btn-success Add Section
    div.container-fluid
        div.quizCreateHeader
            h1.header-spacer.m-b-2 Section List
            nav.navbar.navbar-light.bg-light.admin-navbar
                form.form-inline
                    button(type="button" class="addSectionButton").btn.btn-success.button-left Add Section
        div.row
            div.col.mx-1
                div#accordion
                    each val, index in sections
                        div.card
                            div(class="secHeader" id=val.id).card_header
                                h5.mb-0.sec-accordion
                                    if val.id != -1
                                        a(class="deleteSec" style="color: white;" id=val.id).btn.btn-primary Delete Section
                                        button(data-toggle="collapse" data-target="#sec"+val.id aria-expanded="false" aria-controls="sec"+val.id).btn.btn-link=val.ta_name + " - " + val.section_name
                                    else
                                        button(data-toggle="collapse" data-target="#sec"+val.id aria-expanded="false" aria-controls="sec"+val.id).btn.btn-link=val.section_name
                                    if val.id != -1
                                        div.dropdown.inline-dropdown
                                            button(type="button" data-toggle="dropdown").btn.btn-success.dropdown-toggle Open Quizzes
                                            div.dropdown-menu
                                                h6.dropdown-header Click to Close Quiz
                                                each val, index in quizes
                                                    a(href="#" class="closequiz" id=val.quiz_id).dropdown-item=val.quiz_name
                                        div.dropdown.inline-dropdown
                                            button(type="button" data-toggle="dropdown").btn.btn-danger.dropdown-toggle Closed Quizzes
                                            div.dropdown-menu
                                                h6.dropdown-header Click to Open Quiz
                                                each val, index in quizes
                                                    a(href="#" class="openquiz" id=val.quiz_id).dropdown-item=val.quiz_name
                            div(id="sec"+val.id aria-labelledby="sec"+val.id).collapse
                                div.card-body
                                    if val.students.length == 1 && val.students[0].name == "null null"
                                        h3 There are no students in this section yet!
                                    else
                                        table.table.table-hover
                                            thead
                                                tr
                                                    th(scope="col") #
                                                    th(scope="col") Name
                                                    th(scope="col")
                                            tbody
                                                each val2, index2 in val.students
                                                    tr(id=val2.pid)
                                                        th(scope="row")=(index2+1)
                                                        td=val2.name
                                                        td
                                                            div(class="dropdown")
                                                                button(type="button" data-toggle="dropdown").btn.btn-primary.dropdown-toggle Change Section
                                                                div(id=val2.pid).dropdown-menu
                                                                    each val3 in sections
                                                                        a(href="#" class="sec" id=val3.id).dropdown-item=val3.section_name
                                                                script(type='text/javascript').
                                                                    $(".sec").unbind().click(function() {
                                                                        console.log("section clicked");
                                                                        let dat = {
                                                                            pid: $(this).parent().attr("id"),
                                                                            section: $(this).attr("id")
                                                                        }
                                                                        let el = $(this).parent().parent().parent().parent();
                                                                        let elAppend = $("#sec" + dat.section + " tbody");
                                                                        console.log(elAppend);
                                                                        console.log(dat);
                                                                        $.post("/admin/updateSec", dat).done(function(val) {
                                                                            console.log("Posting done.");
                                                                            el.appendTo(elAppend);
                                                                        });
                                                                    })
    script(type='text/javascript').
        $(document).ready(function() {

            $('.addSectionButton').click(function() {
                $.post('/admin/getUnassignedTAs').done(function(dat) {
                    console.log(dat);
                    for(let i=0; i<dat.length; i++) {
                        $('#TA').append("<option value='" + dat[i].pid + "'>" + dat[i].first_name + " " + dat[i].last_name + "</select>")
                    }
                    $("#editmodal").modal('show');
                })
            })
          $('#submitCsv').on("click",function() {
            if(!$('#secUpload').val() || $('#secUpload').val().slice(-4) != '.csv'){
                    alert('Please choose a csv file to upload.');
                }else{
                    console.log("Clicked import");
                    console.log();
                    let formData = new FormData();
                    formData.append("ta",$("#TA").val());
                    formData.append("csv",document.getElementById("secUpload").files[0]);
                    $.ajax({
                        url: '/admin/csvImport',
                        data: formData,
                        type: 'POST',
                        contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                        processData: false, // NEEDED, DON'T OMIT THIS

                        success: function(){
                                alert("Section added.");
                              location.reload(true);
                            }
                        // ... Other options like success and etc
                        });
                    }
            })
            $(document).on("click", ".openquiz", function() {
                console.log("Open quiz", $(this).attr("id"));
                let el = $(this);
                let secid = $(this).parent().parent().parent().parent().attr("id");
                console.log(secid);
                console.log($("#sec" + secid + " tr").map(function() {
                    return $(this).attr("id");
                }).get());
                $.post("/admin/openquiz", {
                    user: $("#sec" + secid + " tr").map(function() {
                        return $(this).attr("id");
                    }).get(),
                    quiz_id: $(this).attr("id")
                }).done(function() {
                    alert("Quiz opened.");
                    console.log("Success Open");
                });
            })

            $(document).on("click", ".deleteSec", function() {
                console.log("Delete section", $(this).attr("id"));
                let el = $(this);
                let secid = $(this).attr("id");
                console.log(secid);
                $.post("/admin/deleteSection", {
                    id: secid
                }).done(function() {
                    alert("Section Deleted.");
                    location.reload(true);
                    console.log("Success Close");
                });
            })

            $(document).on("click", ".closequiz", function() {
                console.log("Open quiz", $(this).attr("id"));
                let el = $(this);
                let secid = $(this).parent().parent().parent().parent().attr("id");
                console.log(secid);
                console.log($("#sec" + secid + " tr").map(function() {
                    return $(this).attr("id");
                }).get());
                $.post("/admin/closequiz", {
                    user: $("#sec" + secid + " tr").map(function() {
                        return $(this).attr("id");
                    }).get(),
                    quiz_id: $(this).attr("id")
                }).done(function() {
                    alert("Quiz closed.");
                    console.log("Success Close");
                });
            })
        });
